@page "/Creator"
<!DOCTYPE html>
<html>
<head>
    <title>Creator</title>
</head>
<body>
    <h1>Zerom</h1>
    <hr />
    @{
        var message = "Welcom...";
    }
    <h3>@message</h3>
</body>
</html>